body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  /* background-image: url("./assets/Image_Own.png"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;        
  background-attachment: fixed; 
  background-color: #05060b;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


div {
  background: #ffffff;
  padding: 10px 5px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 20px;
  box-sizing: border-box;
}


.input:focus {
  border-color: #5c5c5c;
}

.submit {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #11c05a;
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s, transform 0.1s;
}

li:hover {
  background: #c21c1c;
  transform: scale(1.02);
}

#enter {
  font-size: 20px;
  color: #fc0303;
  text-align: center;
}
